{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block header %}
 <header id="header" style="background-color: #333333; color: white; position: fixed; top: 0; padding: 5px; font-size: x-large;
width: 100%; left:0; right:0; z-index: 2000; vertical-align: center">
    <div style="float: left; ">
        Assignment 1 AWM2022 TU856
    </div>
    <div style="float: right" class="dropdown">
        <a class="btn btn-secondary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bars"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/">Home</a>
                <a class="dropdown-item" href="/map/">Map</a>
                <a class="dropdown-item" href="/accounts/password_change/">Change Password</a>
                <a class="dropdown-item" href="/accounts/update_details/">Update Details</a>
                <a class="dropdown-item" href="/accounts/logout/">Log out</a>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
    {#custom form using bootstrap change password form#}
    <form method="post" class="form-horizontal" style="margin:100px">
    <h2>Change Password</h2>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label class="col-sm-4 control-label">{{ field.label }}</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="{{ field.name }}" placeholder="{{ field.label }}">
                    {% if field.errors %}
                        <ul class="errors">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% if field.help_text %}
                    <small id="{{ field.id_for_label }}" class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </div>
    </form>

{% endblock %}