{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
 <header id="header" style="background-color: #333333; color: white; position: fixed; top: 0; padding: 5px; font-size: x-large;
width: 100%; left:0; right:0; z-index: 2000; vertical-align: center">
    <div style="float: left; ">
        Assignment 1 AWM2022 TU856
    </div>
    <div style="float: right" class="dropdown">
        <a class="btn btn-secondary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bars"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/">Home</a>
                <a class="dropdown-item" href="/map/">Map</a>
                <a class="dropdown-item" href="/accounts/password_change/">Change Password</a>
                <a class="dropdown-item" href="/accounts/update_details/">Update Details</a>
                <a class="dropdown-item" href="/accounts/logout/">Log out</a>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<h1>Advanced Web Mapping 2021</h1>
<h2>Assignment 1</h2>
<h3>Student ID: C19485866</h3>
<h3>Course ID: Tu856</h3>
<h3>Course Name: Computer Science</h3>

<p>
    Welcome to my first Proper Django Web App.
    <br/>
    This is a simple web app that allows users to register and login to the site.
    <br/>
    Once logged in, users can view a map of the world and add markers to the map.
    <br/>
    The markers are stored in a database and can be viewed by other users.
    <br/>
    The markers can also be edited and deleted by the user who created them.

</p>

{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
            </div>
        </div>
    </div>
</div>
{% else %}
    <script>
        window.location.href = "/";
    </script>
{% endif %}
{% endblock %}